.warna {
    background-color: red;
}
.logo {
    width: 200px;

}
.header {
    background-color: red;
    height: 70px;
}
.toggler {
    background-color: transparent;
}
.sliderimage {
    margin-top: 50px;
}
.slide {
    background-color: red;
    height: 400px;
    margin-top: -50px;
}
.notive {
    margin-top: 20px;
}
.danger {
    background-color: red !important;
}
.slide {
    margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
    .slide {
        background-color: rgb(186, 3, 2 );
        height: 90px;
    }
}